<style>
  section {
    margin-bottom: 10px;
  }
  .login md-input-container, .login md-switch {
    margin: 5px 0;
    padding: 0;
  }
</style>
<main flex layout="column">
  <md-content flex style="padding: 10px;">
    <article flex>
      <section flex class="md-whiteframe-4dp"
      style="padding:10px;margin-top:5px;">
        <h1>
          Welcome to <font color="#F89820">Java</font><font color="#5382A1">Crypt</font>
        </h1>
        <h2>
          The chat application with transparent client side encryption
        </h2>
      </section>
    </article>
    <article flex layout="row">
      <div flex>
      </div flex>
      <section class="md-whiteframe-4dp login"
      style="min-width !important:200px;padding:10px;margin-top:5px;">
        <form>
        <md-list>
          <md-header>
            <h3 style="padding:5px;color:rgba(0,0,0,0.7);">
              Join a chatroom!
            </h3>
          </md-header>
          <md-divider style="margin-bottom:20px;">
          </md-divider>
          <md-list-item>
            <md-input-container>
              <label>
                username
              </label>
              <input type="text" autocomplete="off" autocorrect="off"
              autocapitalize="off" spellcheck="false" ng-model="input_username"
              ng-enter="login($event)" id="input_username" md-maxlength="13" required
              ng-pattern="/^[a-zA-Z0-9]*$/">
              </input>
              <div ng-messages="" md-auto-hide="true">
                <div ng-message="pattern">
                  Alphanumeric only!
                </div>
              </div>
            </md-input-container>
          </md-list-item>
          <md-list-item>
            <md-input-container>
              <label>
                chatroom
              </label>
              <input type="text" autocomplete="off" autocorrect="off"
              autocapitalize="off" spellcheck="false" ng-model="input_chatroom"
              ng-enter="login($event)" id="input_chatroom" md-maxlength="13" required
              ng-pattern="/^[a-zA-Z0-9]*$/">
              </input>
              <div ng-messages="" md-auto-hide="true">
                <div ng-message="pattern">
                  Alphanumeric only!
                </div>
              </div>
            </md-input-container>
          </md-list-item>
          <md-list-item>
            <p>
              encryption
            </p>
            <md-switch ng-model="useEncryption" ng-true-value="true"
            ng-enter="login($event)" ng-false-value="false">
            </md-switch>
          </md-list-item>
          <md-list-item ng-hide="!useEncryption">
            <md-input-container>
              <label>
                encryption key
              </label>
              <input type="password" autocomplete="off" autocorrect="off"
              autocapitalize="off" spellcheck="false" ng-model="input_key"
              ng-enter="login($event)" id="input_key" required>
              </input>
            </md-input-container>
          </md-list-item>
          <md-list-item ng-if="useEncryption">
            <md-input-container style="width:100%;">
              <label>
                cipher
              </label>
              <md-select ng-model="cipher" ng-enter="login($event)" require>
                <md-option value="AES256">
                  AES256
                </md-option>
                <md-option value="AES128" ng-disabled='true'>
                  AES196
                </md-option>
                <md-option value="AES64" ng-disabled='true'>
                  AES128
                </md-option>
              </md-select>
            </md-input-container>
          </md-list-item>
          <md-divider style="margin-bottom:20px;">
          </md-divider>
          <md-list-item layout="row">
            <div flex>
            </div flex>
            <md-button class="md-fab" style="background:lightGray;padding:none;"
            ng-click="login($event)">
              <md-tooltip>
                Login!
              </md-tooltip>
              <ng-md-icon icon="fingerprint" size="36"
              style="fill:red;">
              </ng-md-icon>
            </md-button>
            <div flex>
            </div>
          </md-list-item>
        </md-list>
        </form>
      </section>
      <div flex>
      </div>
    </article>
  </md-content>
</main>
